version: '3.3'

services:
  back:
    image: dockertaiga/back:${VERSION}
    container_name: taiga-back
    restart: unless-stopped
    depends_on:
      - db
      - events
    networks:
      - default
    volumes:
      - taiga-media:/taiga-media
      - taiga-back-conf:/taiga-conf
    environment:
      - TAIGA_SECRET=${TAIGA_SECRET}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - TAIGA_HOST=${TAIGA_HOST}

  front:
    image: dockertaiga/front:${VERSION}
    container_name: taiga-front
    restart: unless-stopped
    networks:
      - default
    volumes:
      - taiga-front-conf:/taiga-conf
    environment:
      - TAIGA_HOST=${TAIGA_HOST}

  events:
    image: dockertaiga/events:${VERSION}
    container_name: taiga-events
    restart: unless-stopped
    depends_on:
      - rabbit
    networks:
      - default
    environment:
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}

  db:
    image: postgres:12-alpine
    container_name: taiga-db
    restart: unless-stopped
    networks:
      - default
    # C'EST ICI QUE CA SE PASSE :
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - taiga-db-data:/var/lib/postgresql/data

  rabbit:
    image: dockertaiga/rabbit
    container_name: taiga-rabbit
    restart: unless-stopped
    networks:
      - default
    environment:
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}

  proxy:
    image: dockertaiga/proxy:latest
    container_name: taiga-proxy
    restart: unless-stopped
    depends_on:
      - back
      - front
      - events
    networks:
      - default
    volumes:
      - taiga-proxy-conf:/taiga-conf
    environment:
      - TAIGA_HOST=${TAIGA_HOST}

networks:
  default:

volumes:
  taiga-media:
  taiga-back-conf:
  taiga-front-conf:
  taiga-db-data:
  taiga-proxy-conf:
